#header-box {
    text-align: center;
}

#log-entry, #log-display {
    margin-top: 15px;
}

#log-entry-boxes {
    text-align: center;
}

#logbuttons {
    margin-top: 15px;
}

.horizontal-line {
    margin-bottom: 15px;
}